# AI 全栈开发快速入门指南依赖包
# Python 版本：3.13

# DeepSeek API 和 OpenAI SDK
openai==1.82.0


# HTTP 请求
requests==2.32.3

# 进度条
tqdm==4.67.1

# 向量数据库和模型
pymilvus[model]==2.5.10

# 深度学习框架 
# GPU版本
torch==2.7.0
# CPU版本
# torch==2.7.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
